extends _layout.pug

block title
  title Главная
block header
  - const headerText = 'Главная страница'
block content
  .main__img
      img(src="img/img-1.jpg", alt="img-1", width="70%")    
  a(class="main__link" href="page2.html") Вперед
